body {
  margin: 0;
  background: #ffcd3c;
  background-size: cover;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
div {
  background-image: url(images/img1.jpg);
  background-size: cover;
  padding: 20px;
}
header {
  text-align: center;
}
h1 {
  border: 2px solid white;
  border-radius: 25px;
  display: inline-block;
  font-size: 32px;
  margin: auto;
  font-weight: bolder;
  font-family: "Leckerli One", cursive;
  padding: 5px;
}
hr {
  margin: auto;
  border: solid whitesmoke 5px;
  border-bottom: none;
}
.search {
  background: #ffcd3c;
  border: solid white 5px;
  width: 52%;
  padding: 20px;
  width: 700px;
  margin: 50px auto;
  text-align: left;
}
label {
  font-size: 24px;
}
#A01 {
  margin: 0 auto;
  width: 500px;
  height: 50px;
  font-size: 24pt;
}
button {
  margin-left: 50px;
  background-color: #768d87;
  border-radius: 8px;
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 20px;
}
button:hover {
  background-color: #6c7c7c;
}
.MovieSection {
  background-image: url(images/img2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
}

ul {
  margin: auto auto;
  width: 700px;
  /* text-align: center; */
  /* list-style-type: none; */
}
li {
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  margin: 20px auto;
  padding: auto;
}
img {
  float: right;
  margin-top: 15px;
}
